<header>
  <app-home [isMobile]="getIsMobile()" (messageEvent)="toggleZoomIn($event)" (homeButton)="toggleZoomOut()"></app-home>
</header>

<!-- Main content area -->
<div [ngClass]="getIsMobile() ? 'mobile-container' : 'content-container'">
  <img
    [ngClass]="getIsMobile() ? 'mobile-background-image' : 'background-image'"
    [@zoomAnimation]="getZoomState()"
    (@zoomAnimation.done)="onAnimationComplete($event)"
    (click)="toggleZoomIn(getWelcomeText())"
    [src]="getBackgroundImg()"
  />

  <ng-template #coverText>
    <div [ngClass]="getIsMobile() ? 'mobile-cover-text-container' : 'cover-text-container'" *ngIf="isCoverTextHidden()">
      <p class="text"> Click Here! </p>
    </div>    
  </ng-template>
</div>

<div id="autoScroll" *ngIf="getShowText(); else coverText" [ngClass]="getIsMobile() ? 'mobile-text-container' : 'text-container'">
  <ul class="text">
    <li *ngFor="let previousText of getPreviousTexts(); let i = index">
      <span [ngClass]="getIsMobile() ? 'mobile-text' : 'text'" [innerHTML]="previousText"></span>
    </li>
    <li>
      <span [ngClass]="getIsMobile() ? 'mobile-text' : 'text'" [innerHTML]="getTextTypeWriter() | async"></span>
    </li>
    <li>
      <input [(ngModel)]="inputText" type="text" [ngClass]="getIsMobile() ? 'mobile-text' : 'text'" (keydown.enter)="onSubmit(inputText)" placeholder="<Enter Text>">
    </li>
  </ul>
</div>

<router-outlet></router-outlet>
