<header>
  <app-home [isMobile]="getIsMobile()" (messageEvent)="toggleZoomIn($event)" (homeButton)="toggleZoomOut()"></app-home>
</header>

<!-- Main content area -->
<div [ngClass]="getIsMobile() ? 'mobile-container' : 'content-container'">
  <img
    [ngClass]="getIsMobile() ? 'mobile-background-image' : 'background-image'"
    [@zoomAnimation]="getZoomState()"
    (@zoomAnimation.done)="onAnimationComplete($event)"
    (click)="toggleZoomIn('Welcome...')"
    [src]="getBackgroundImg()"
  />
</div>

<div id="text-container" *ngIf="getShowText(); else coverText" class="text-container">
  <ul class="text">
    <li *ngFor="let previousText of getPreviousTexts(); let i = index">
      :~$ <span class="text" [innerHTML]="previousText"></span>
    </li>
    <li>:~$ <span class="text" [innerHTML]="getTextTypeWriter() | async"></span></li>
    <li>:~$ <input [(ngModel)]="inputText" type="text" class="text" (keydown.enter)="onSubmit(inputText)" placeholder="<Enter Text>"></li>
  </ul>
</div>

<ng-template #coverText>
  <div [ngClass]="getIsMobile() ? 'mobile-cover-text-container' : 'cover-text-container'" *ngIf="isCoverTextHidden()">
    <p class="text"> Click Here! </p>
  </div>
</ng-template>

<router-outlet></router-outlet>
