/* You can add global styles to this file, and also import other style files */
body {
  margin: 0px;
  padding: 0px;
  /* background-image: url('assets/img/background.jpg'); */
  background-color: black;
  background-size: cover;
  /* background-position: center top 25%; */
  background-attachment: fixed;
}

@font-face {
  font-family: wcp;
  src: url(./assets/font/OCR-a___.ttf) format('woff2'),
       url(./assets/font/OCR-a___.woff) format('woff'),
       url(./assets/font/OCR-a___.ttf) format('truetype');
}
