<div class="wrapper">
    <button class="home-button" (click)="homeButtonClick()"><img src="../../assets/img/homeButton.png"></button>
    <nav *ngIf="!isMobile; else dropDown">
        <ul class="navBar">
            <li><a (click)="setText('About')">About</a></li>
            <li><a (click)="setText('Projects')">Projects</a></li>
            <li><a (click)="setText('Resume')">Resume</a></li>
            <li><a (click)="setText('Contact')">Contact</a></li>
        </ul>
    </nav>
</div>

<ng-template #dropDown>
    <button class="dropbtn" (click)="toggleDropdown()">menu</button>
    <div class="dropdown" [@slideAnimation]="getAnimationSate()" >
        <nav class="dropdownNav">
            <ul *ngIf="getDropDown()" class="dropdown-content">
                <li><a (click)="setText('About')">About</a></li>
                <li><a (click)="setText('Projects')">Projects</a></li>
                <li><a (click)="setText('Resume')">Resume</a></li>
                <li><a (click)="setText('Contact')">Contact</a></li>
            </ul>
        </nav>
    </div> 
</ng-template>



    
