<div class="wrapper">
    <button class="home-button" (click)="homeButtonClick()"><img src="../../assets/img/homeButton.png"></button>
    <nav *ngIf="!isMobile; else dropDown">
        <ul class="navBar">
            <li><a (click)="setText('About')">About</a></li>
            <li><a (click)="setText('Projects')">Projects</a></li>
            <li><a (click)="setText('Resume')" href="../../assets/doc/Renan-Bondoc-Resumev3.pdf" download="ren_bondoc_resume">Resume</a></li>
            <li><a >Contact</a></li>
        </ul>
    </nav>
    <ng-template #dropDown>

        <div class="wrapper">
            <button class="dropbtn" (click)="toggleDropdown()">
                <img src="../../assets/img/menu.png">
            </button>
        </div>
        
        <div class="dropdown" [@slideAnimation]="getAnimationSate()" >
            <ul *ngIf="getDropDown()" class="dropdown-content">
                <li><a (click)="setText('About')">About</a></li>
                <li><a (click)="setText('Projects')">Projects</a></li>
                <li><a (click)="setText('Resume')" href="../../assets/doc/Renan-Bondoc-Resumev3.pdf" download="ren_bondoc_resume">Resume</a></li>
                <li><a >Contact</a></li>
            </ul>
        </div>
        
        
     
    </ng-template>
</div>



    
